
.divlogin{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 2%;
    float: left;
    background: #ccc;
    width: 80%;
    height: 60px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

form{
    position: absolute;
    left: 540px;
    top: 15px;
  
}

input[type=submit]{
    font-family: monospace,sans-serif,serif;
    text-transform: uppercase;
    font-size: 13px;
    width: 100px;
    height: 30px;
    color: #000;
}

input[type=text],[type=password]{
    font-family: monospace,sans-serif,serif;
    font-size: 15px;
    color: darkgray;
    width: 160px;
    height: 25px;
    border-radius: 2px;
    border-color: activeborder;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

label{
    font-family: monospace,sans-serif,serif;
    font-size: 13px;
    text-decoration-style: wavy;
    color: #000;
}

.titulo{
    position: absolute;
    top: 18px;
    left: 18px;
    font-family: monospace,sans-serif,serif;
    font-size: 25px;
    text-emphasis-color: activeborder; 
    
}

.conteudo{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 12%;
    float: left;
    background: #ccc;
    width: 80%;
    height: 400px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.cadastraSe{
    position: absolute;
    top: 18px;
    left: 18px;
    font-family: monospace,sans-serif,serif;
    font-size: 25px;
    text-emphasis-color: activeborder; 
    
}

.salvarUser{
    position: absolute;
    left: 300px;
    font-family: monospace,sans-serif,serif;
    text-transform: uppercase;
    font-size: 13px;
    width: 100px;
    height: 30px;
    color: #000;
}

.novoUser{
    font-family: monospace,sans-serif,serif;
    margin-left: 152px;
    font-size: 15px;
    color: darkgray;
    width: 160px;
    height: 25px;
    border-radius: 2px;
    border-color: activeborder;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}


